* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    /*--main-text-color: #F7F7F7;*/
    --main-text-color: #000000;
    --secondary-color: #A4A4A4;
}

.clearfix:after{
    content: " "; /*Older browser do not support empty content*/
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.navbar{
    /*background-color: var(--main-text-color);*/
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar > .navbar-list{
    list-style-type: none;
    margin: 0;
    float: none;
    text-align: center;
    font-size: 0;
}

.navbar > .navbar-list > .navbar-item{
    display: inline-block;   
    font-size: 20px;    
    margin-right: 10px;
}

.navbar > .navbar-list > .navbar-item a{
    padding: 20px;
    text-decoration: none;
    color:whitesmoke;
    display: inline-block;   
    transition: border 0.5s linear;
}

.navbar > .navbar-list > .navbar-item.active a{    
    border:1px solid #666666;    
    color:white;
}

.navbar > .navbar-list > .navbar-item a:hover{
    color: var(--main-text-color);    
    border:1px solid #666666;
}
canvas{
  display:block;
  vertical-align:bottom;
}

#particles-js {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:blueviolet;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#title-img{
    /*background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/animated/EngineeringIoT_Listical_1.gif);
    height: 100vh;
    transition: background-size 0.5s;*/
    border: 1px solid #000;
    background: url(../images/static/foto.jpg) no-repeat center center;
    width: 20%;
    height: 20%;
}

.title-img:hover{
    background-size: 115% 115%;
}
/*
.title {
	position: absolute;
    left: 0;
    top: 65%;
    width: 100%;
    text-align: center;
    font-size: 100px;
    color: black;
    font-family: batman;
    z-index: 1;
    animation: titleanimation 2s forwards;
    animation-delay: 0.8s;
    visibility: hidden;
}

.title-cite {
    position: absolute;
    left: 0;
    top: 60%;
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: white;
    opacity: 0;
    font-family: batman;
    animation: subtitleanimation 3s forwards;
    animation-delay: 1s;
    
}
*/